### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf

#Data files
data/*.data
data/*.csv
data/*.npz
*.csv

#models
*.pth
*.jolib
*.h5
*.onnx

#Data files
data/*.data
data/*.csv
data/*.npz
*.csv

#compression files
*.zip
*.tar.gz
*.rar  

#my notes
notes.txt

#Test results file
TestResults.xml
